*{
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(81, 81, 81);
}

main{
    width: 100%;
    height: calc(90vh - 100px);
}

.contenedor{
    width: 100%;
    height: 100%;
}

.contenedor-menu{
    width: 100%;
    height: 100%;
}

.menu-lista{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.opcion{
    list-style: none;
}

.opcion a{
    text-decoration: none;
    color: #ffbb00;;
}

.opcion a:hover{
    color: rgb(81, 184, 184);
}

.disabled {
    pointer-events: none; /* Evita que el enlace sea clickeable */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}

.principal{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    font-size: 30px;
    
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}


.contenedor-menu-inicio{
    display: flex;
}

.menu-lista-inicio{
    padding: 0;
    margin: 0;
}

.opcion-inicio{
    margin-bottom: 25px;
    display: block;
    font-size: 40px;
    border-radius: 100px;
    width: 1200px;
    border: 3px solid #ffbb00;
    font-weight: bold;
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.1);
}


.opcion-inicio a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.opcion-inicio a:hover{
    color: #ffbb00;
}

.close{
    padding: 30px;
}

.dt-search,
.dt-length{
    padding: 10px 0;
}

.contenedor-drh {
    width: 100%;
    height: calc(70vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.grupos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.icon{
    min-width: 50px;
    font-size: 100px;
    text-align: center;
}

.level {
    width: 200px;
    height: 200px;
    text-align: center;
    background: rgb(170, 170, 170, 0.8);
    border-radius: 10%;
    padding: 20px;
}

h2{
    text-align: center;
    color: #ffbb00;
    font-size: 40px;
}
.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
    color: cadetblue;
}

label{
    color: white;
}

.dt-info{
    color: white;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.close{
    position: absolute;
    bottom: 10%;
    right: 20px;
    font-size: 40px;
    width: 500px;
}

label{
    color: black;
}

.dt-info{
    color: black;
}