body {
    font-family: Arial, sans-serif;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)),
    url('../imagenes/fondo_g.png'); /* Cambia esta ruta por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    padding: 0;
    height: 100vh; 
  }
  
  h2 {
    text-align: center;
    color: orange;
    background-color: #333;
    font-size: 40px;
  }
  
  .formulario {
    width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    font-size: 20px;
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #9b9999;
    border: 5px solid #ccc;
    font-weight: bold;
  }

  input[type="email"]:hover,
  input[type="password"]:hover,
  input[type="text"]:hover {
    border: 5px solid #ffbb00;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #929292;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border:5px solid #ccc;
    font-size: 20px;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: #ffbb00;
    border:5px solid #e8ad0a;
  }
  

  
#volver{
    width: 100%;
}

#volver:hover{
    border:5px solid red;
    background-color: rgb(255, 32, 32);
    color:white;
}
