body {
    font-family: Arial, sans-serif;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)),
    url('../imagenes/fondo_g.png'); /* Cambia esta ruta por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; 
    margin: 0;
    padding: 0;
   
}
.container {
    text-align: center;
    width: 50%;
    top: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    background-color: rgba(150, 144, 144, 0.4); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffbb00; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(81, 81, 81); 
}

.grupos {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.groups {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.groups summary {
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.groups p {
    padding: 10px;
    margin: 0;
}

.groups a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #ffbb00; 
    color: #070707;
    text-align: center;
}


.groups a:hover {
    color: #fff;
    background-color: rgb(81, 81, 81);
}
form {
    text-align: center;
    margin-top: -25px; /* Modificado para reducir el espacio superior */
}

input[type="submit"] {
    width: 40%;
    padding: 10px 20px;
    background-color: rgb(81, 81, 81);
    color: #ffffff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 5px; /* Ajustado para reducir la separación del botón con otros elementos */
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #ffbb00; 
}

.boton-redondo3 {
    position: fixed;
    z-index: 1;
}

.boton-redondo3 {
    bottom: 20px;
    right: 30px;
    width: 70px; /* Ajusta el tamaño del botón según tus necesidades */
    height: 70px; /* Ajusta el tamaño del botón según tus necesidades */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 3px #ccc; /* Grosor y color del borde */
    transition: box-shadow 0.3s ease; /* Transición suave */
    cursor: pointer;
    
}

.boton-redondo3:hover {
    box-shadow: 0 0 0 5px #e70303; /* Cambiar el color del borde al pasar el ratón */
}

.boton-redondo3 .imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-description3 {
    color: #000000; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    text-align: right; /* Alineación del texto */
    position: fixed;
    bottom: 5px; /* Distancia desde la parte inferior */
    right: 16px; /* Distancia desde la parte derecha */
    margin: 0;
    top: 655px;
    font-size: 17px;
}

 /* Estilos para el contenedor del cargador */
 #loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Ajustado para ser casi transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


/* Estilos para el contenedor de la imagen y el spinner */
.loader-container {
    position: relative;
    width: 120px;
    height: 120px;
}

/* Estilos para la imagen del cargador */
.loader-image img {
    width: 100%; /* La imagen ocupará todo el contenedor */
    height: 100%; 
    border-radius: 50%; /* Hace la imagen redonda */
    position: absolute;
    top: 20px;
    left: 15px;
}

/* Estilos para el spinner */
.loader-spinner {
    border: 16px solid #f57c02;
    border-top: 16px solid #6b6b6b;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
}

/* Animación del spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Ocultar el contenido mientras se muestra el cargador */
#content {
    display: none;
}