body {
    font-family: Arial, sans-serif;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)),
    url('../imagenes/fondo_g.png'); /* Cambia esta ruta por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    padding: 0;
  }

  .container {
    text-align: center;
    width: 50%;
    top: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .titulo-bienvenida {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(81, 81, 81);
    color: #ffbb00; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .boton-regresar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100px; /* Ajusta el tamaño del botón según tus necesidades */
    height: 40px; /* Ajusta el tamaño del botón según tus necesidades */
    border-radius: 20px; /* Ajusta el radio para obtener una forma redonda */
    overflow: hidden;
    box-shadow: 0 0 0 3px #ffbb00;  /* Grosor y color del borde */
    transition: box-shadow 0.3s ease; /* Transición suave */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Color de fondo del botón */
    color: #000000; /* Color del texto en negro */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Grosor de la fuente */
}

.boton-regresar:hover {
    box-shadow: 0 0 0 5px #ffbb00;  /* Cambiar el color del borde al pasar el ratón */
}

  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  form input[type="text"],
  form select {
    width: calc(100% - 22px); /* Ajuste para compensar el padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color:#ccc;
    font-weight: bold;
  }

  form input[type="number"],
  form select {
    width: calc(100% - 22px); /* Ajuste para compensar el padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 25px;
    background-color:#ccc;
    font-weight: bold;
  }
  form input[type="submit"] {
    width: 100%;
    background-color: #ffffff; /* Color de fondo */
    color: rgb(9, 9, 9);
    padding: 10px;
    border: 2px solid #ffbb00; /* Color del borde */
    border-radius: 25px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para fondo y color */
    font-weight: bold;
}

/* Opcional: cambio de fondo y borde al pasar el cursor */
form input[type="submit"]:hover {
    background-color: #ffbb00; /* Cambia el color de fondo al pasar el cursor */
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
    border-color: #ffbb00; /* Mantén el color del borde al pasar el cursor */
}

  form input[type="submit"]:hover {
    background-color: rgb(81, 81, 81);
  }

  .boton-redondo3 {
    position: fixed;
    z-index: 1;
}

.boton-redondo3 {
    bottom: 20px;
    right: 30px;
    width: 70px; /* Ajusta el tamaño del botón según tus necesidades */
    height: 70px; /* Ajusta el tamaño del botón según tus necesidades */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 3px #ccc; /* Grosor y color del borde */
    transition: box-shadow 0.3s ease; /* Transición suave */
    cursor: pointer;
    
}

.boton-redondo3:hover {
    box-shadow: 0 0 0 5px #e70303; /* Cambiar el color del borde al pasar el ratón */
}

.boton-redondo3 .imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-description3 {
    color: #000000; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    text-align: right; /* Alineación del texto */
    position: fixed;
    bottom: 5px; /* Distancia desde la parte inferior */
    right: 16px; /* Distancia desde la parte derecha */
    margin: 0;
    top: 655px;
    font-size: 17px;
}