body {
    font-family: Arial, sans-serif;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255)),
    url('../imagenes/fondo_g.png'); /* Cambia esta ruta por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    padding: 0;
    
  }

  .container {
    text-align: center;
    width: 50%;
    top: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .titulo-bienvenida {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(81, 81, 81);
    color: #ffbb00; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }


  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  form input[type="text"],
  form select {
    width: calc(100% - 22px); /* Ajuste para compensar el padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color:#ccc;
    font-weight: bold;
  }

  form input[type="number"],
  form select {
    width: calc(100% - 22px); /* Ajuste para compensar el padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 25px;
    background-color:#ccc;
    font-weight: bold;
  }
  form input[type="submit"] {
    width: 100%;
    background-color: #ffffff; /* Color de fondo */
    color: rgb(9, 9, 9);
    padding: 10px;
    border: 2px solid #ffbb00; /* Color del borde */
    border-radius: 25px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para fondo y color */
    font-weight: bold;
}

/* Opcional: cambio de fondo y borde al pasar el cursor */
form input[type="submit"]:hover {
    background-color: #ffbb00; /* Cambia el color de fondo al pasar el cursor */
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
    border-color: #ffbb00; /* Mantén el color del borde al pasar el cursor */
}

  form input[type="submit"]:hover {
    background-color: rgb(81, 81, 81);
  }




 /* Estilos para el contenedor del cargador */
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-container {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;           /* Centrado flex */
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
}

.loader-image img {
  width: 60px;      /* Ajusta el tamaño de la imagen */
  height: 60px;
  border-radius: 50%;
  z-index: 2;       /* Encima del spinner */
}

.loader-spinner {
  border: 16px solid #f57c02;
  border-top: 16px solid #6b6b6b;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;  /* Para que quede debajo de la imagen */
  top: 0;
  left: 0;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#content {
  display: none;
}
