*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(0deg, rgba(181, 181, 181, 0.5), rgb(0,0,0,0.1)), url(../imagenes/tesi.jpg);
    background-size: cover;
    background-position: center;
}



.wrapper {
    width:420px;
    background-image: linear-gradient(to bottom, #606060, #b1abab);
    backdrop-filter: blur(20px);
    box-shadow:0 0 100px rgba(255, 191, 0, 0.2);
    border: 2px solid rgba(255,255,255,.2);
    color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
}

.wrapper h1{
    font-size: 40px;
    text-align: center;
    color: rgb(14, 14, 14);
    width: 100%;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height:50px;
    margin:30px 0;
}

.input-box input{
    width:100%;
    height:100%;
    background: transparent;
    border:none;
    outline: none;
    border:2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:#0a0a0a;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #0f0f0f;
    font-weight: bold;
}

.input-box i{
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    font-size: 20px;
}

.wrapper .botones-radio{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.botones-radio label input{
    accent-color: #000000;
    margin-right: 3px;
}

.botones-radio a{
    color:#080808;
    text-decoration: none;
}

.botones-radio a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    margin-top: 10px;
    width:100%;
    height: 45px;
    background:#dea618;
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 16px;
    color:#000000;
    font-weight:600;
    font-weight: bold;
}

.wrapper .btn:hover{
  
    background:#dea618;
    border:5px solid white;
    color:white;
    
}
.olvide-c{
    font-size: 15.5px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px 20px 0;
}

.olvide-c a:hover{
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    justify-content: center;
    display: flex;
}

.olvide-c a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.encabezado {
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(to right, #6b6b6b, #b1abab);
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.encabezado h2 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
