body{
            /* Configuración del fondo */
            /*background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1552860512-13148a37d7a2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGxpZ2h0JTIwYmx1ZXxlbnwwfHwwfHx8MA%3D%3D');
            */
            background-image: 
            linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255)),
            url('../imagenes/fondo_g.png'); /* Cambia esta ruta por la ruta de tu imagen */
            background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
            background-position: center; /* Centra la imagen */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
            margin: 0; /* Elimina el margen del body para que la imagen cubra toda la ventana */
            height: 100vh; /* Asegura que el body tenga la altura de la ventana */
            font-size: 20px;
            font-family: Arial, sans-serif;
            font-weight: bold;
}
.navbar {
    position: absolute; 
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color:#ffbb00;
    width: 65px;
    overflow: hidden;   
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);

}
.navbar:hover{
    width: 180px;
    transition: all 0.5s ease;
    background-color: orange;
}
.navbar ul {
    list-style-type: none; /* Quitar viñetas */
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-bottom: 35px; /* Espacio entre elementos */
}

.navbar ul li a {
    text-decoration: none;
    color: #333; /* Color de texto */
    display: flex; /* Mostrar elementos en línea */
    align-items: center; /* Alinear verticalmente */
}

.small-image {
    width: 60px; /* Ancho de la imagen pequeña */
    height: 60px;
    margin-right: 5px; /* Espacio entre la imagen y el texto */
    border-radius: 100%;
}

.nav-item {
    display: none; /* Ocultar los textos por defecto */
}

.navbar ul li:hover .nav-item {
    display: inline-block; /* Mostrar los textos al hacer hover */
}
.logout{
    position:absolute;
    bottom: 0;
}
.logout:hover{
    color: red;
    transition: all 2s ease;
}

.titulo-bienvenida {
    color: #ffbb00; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    text-align: center; /* Alineación del texto */
    margin-top: 20px; /* Espacio superior */
    background-color: rgb(81, 81, 81);
    
    
}
.container {
    text-align: center;
    width: 47%;
    top: auto;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    background-color: rgba(169, 160, 160, 0.4); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Añadido */
    overflow: hidden; /* Añadido */
    border: 3px solid black; /* Agregar contorno */
}

.icono-izquierdo {
    position: absolute;
    top: 10px; /* Ajusta la posición vertical según sea necesario */
    left: 10px; /* Ajusta la posición horizontal según sea necesario */
    z-index: 1; /* Añadido */
}

.icono-izquierdo img {
    width: 40px; /* Ajusta el tamaño del icono según sea necesario */
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 3px #ccc; /* Grosor y color del borde */
    transition: box-shadow 0.3s ease; /* Transición suave */
}


.icono-derecho {
    position: absolute;
    top: 10px; /* Ajusta la posición vertical según sea necesario */
    right: 10px; /* Ajusta la posición horizontal según sea necesario */
    z-index: 1; /* Añadido */
}

.icono-derecho img {
    width: 40px; /* Ajusta el tamaño del icono según sea necesario */
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 3px #ccc; /* Grosor y color del borde */
    transition: box-shadow 0.3s ease; /* Transición suave */
}

.button-description1 {
    color: #000000; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    text-align:left; /* Alineación del texto */
    margin-top: 5px; /* Espacio superior */
    position: fixed;
    top: 150px; /* Ajusta la distancia desde la parte superior */
    left: 40px; /* Ajusta la distancia desde la parte izquierda */
    font-size: 20px;
}

.button-description2 {
    color: #000000; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    text-align:right; /* Alineación del texto */
    margin-top: 5px; /* Espacio superior */
    position: fixed;
    top: 425px; /* Ajusta la distancia desde la parte superior */
    left: 90px; /* Ajusta la distancia desde la parte izquierda */
    font-size: 20px;
}
.button-description3 {
    color: #000000; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    text-align: right; /* Alineación del texto */
    position: fixed;
    bottom: 5px; /* Distancia desde la parte inferior */
    right: 16px; /* Distancia desde la parte derecha */
    margin: 0;
    top: 655px;
    font-size: 17px;
}

.boton-redondo,
.boton-redondo2,
.boton-redondo3 {
    position: fixed;
    z-index: 1;
}

.boton-redondo {
    top: 80px;
    left: 20px;
    width: 70px; /* Ajusta el tamaño del botón según tus necesidades */
    height: 70px; /* Ajusta el tamaño del botón según tus necesidades */
    left: 105px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 3px #ccc; /* Grosor y color del borde */
    transition: box-shadow 0.3s ease; /* Transición suave */
    cursor: pointer;
}

.boton-redondo:hover {
    box-shadow: 0 0 0 5px #4CAF50; /* Cambiar el color del borde al pasar el ratón */
}

.boton-redondo .imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton-redondo2 {
    top: calc(50% - 35px);
    left: 20px;
    width: 70px; /* Ajusta el tamaño del botón según tus necesidades */
    height: 70px; /* Ajusta el tamaño del botón según tus necesidades */
    left: 108px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 3px #ccc; /* Grosor y color del borde */
    transition: box-shadow 0.3s ease; /* Transición suave */
    cursor: pointer;
}

.boton-redondo2:hover {
    box-shadow: 0 0 0 5px #4CAF50; /* Cambiar el color del borde al pasar el ratón */
}

.boton-redondo2 .imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton-redondo3 {
    bottom: 20px;
    right: 30px;
    width: 70px; /* Ajusta el tamaño del botón según tus necesidades */
    height: 70px; /* Ajusta el tamaño del botón según tus necesidades */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 3px #ccc; /* Grosor y color del borde */
    transition: box-shadow 0.3s ease; /* Transición suave */
    cursor: pointer;
    
}

.boton-redondo3:hover {
    box-shadow: 0 0 0 5px #4CAF50; /* Cambiar el color del borde al pasar el ratón */
}

.boton-redondo3 .imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    justify-items: center;
    align-items: center;
    margin-top: auto;
    padding: 0px;
}

#image-gallery .image-item {
    display: inline-block;
}

#image-gallery img {
    max-width:70%; /* Ajusta este valor según el tamaño deseado */
    height: auto;
    border: 5px solid black; /* Agregar contorno */
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000000;
    border: 3px solid #ffbb00;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.button-description {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    .boton-redondo,
    .boton-redondo2,
    .boton-redondo3 {
        width: 50px; /* Ajusta el tamaño del botón según tus necesidades */
        height: 50px; /* Ajusta el tamaño del botón según tus necesidades */
    }

    .button-description {
        font-size: 10px;
    }
}

.boton-regresar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100px; /* Ajusta el tamaño del botón según tus necesidades */
    height: 40px; /* Ajusta el tamaño del botón según tus necesidades */
    border-radius: 20px; /* Ajusta el radio para obtener una forma redonda */
    overflow: hidden;
    box-shadow: 0 0 0 3px #000000; /* Grosor y color del borde */
    transition: box-shadow 0.3s ease; /* Transición suave */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Color de fondo del botón */
    color: #f60101; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Grosor de la fuente */
    text-decoration: none; /* Sin subrayado para el texto del botón */
}

.boton-regresar:hover {
    box-shadow: 0 0 0 5px #000000; /* Cambiar el color del borde al pasar el ratón */
}

 /* Estilos para el contenedor del cargador */
 #loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Ajustado para ser casi transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


/* Estilos para el contenedor de la imagen y el spinner */
.loader-container {
    position: relative;
    width: 120px;
    height: 120px;
}

/* Estilos para la imagen del cargador */
.loader-image img {
    width: 100%; /* La imagen ocupará todo el contenedor */
    height: 100%; 
    border-radius: 50%; /* Hace la imagen redonda */
    position: absolute;
    top: 20px;
    left: 15px;
}

.loader-spinner {
    border: 16px solid #f57c02;
    border-top: 16px solid #6b6b6b;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
}

/* Animación del spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Ocultar el contenido mientras se muestra el cargador */
#content {
    display: none;
}