*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(0deg, rgb(0,0,0,0.5), rgb(0,0,0,0.5)), url(../imagenes/tesi.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper {
    width:420px;
    background-image: linear-gradient(to bottom, #606060, #2f2f2f);
    backdrop-filter: blur(20px);
    box-shadow:0 0 100px rgba(255, 0, 0, 0.2);
    border: 2px solid rgba(255,255,255,.2);
    color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
}

.wrapper h1{
    font-size: 40px;
    text-align: center;
    text-decoration-line:underline;
    color: rgb(255, 255, 255);
    width: 100%;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height:50px;
    margin:30px 0;
}

.input-box input{
    width:100%;
    height:100%;
    background: transparent;
    border:none;
    outline: none;
    border:2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:#fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    font-size: 20px;
}

.wrapper .botones-radio{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.botones-radio label input{
    accent-color: #000000;
    margin-right: 3px;
}

.botones-radio a{
    color:#fff;
    text-decoration: none;
}

.botones-radio a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    margin-top: 10px;
    width:100%;
    height: 45px;
    background:#fff;
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 16px;
    color:#333;
    font-weight:600;
}

.wrapper .btn:hover{
  
    background:#000000;
    border:5px solid white;
    color:white;
    
}
.olvide-c{
    font-size: 15.5px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px 20px 0;
}

.olvide-c a:hover{
    color: black;
    background-color: white;
    border-radius: 30px;
    justify-content: center;
    display: flex;
}

.olvide-c a{
    text-decoration: none;
    color: #fff;
}
