body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   /* background-color: #f5f5f5;*/
    font-size: 30px;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgb(255, 255, 255)),
    url('../../imagenes/fondo_g.png');
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0; /* Elimina el margen del body para que la imagen cubra toda la ventana */
    height: 100vh;
}



h1{
    text-align: center;
    color: orange;
    background-color: rgb(81, 81, 81);
}


.contenedor_botones input[type="submit"],input[type="button"] {
    margin-bottom: 25px;
    display: block;
    font-size: 40px;
    border-radius: 100px;
    width: 1200px;
    border: 3px solid #ffbb00;
    font-weight: bold;
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.475);
}

.contenedor_botones input:hover{
    background-color:orange;
}

.contenedor_botones{
    display: flex;
    justify-content: center;
}
#cerrar {
    position: absolute;
    bottom: -20px; /* Ajusta la distancia desde el borde inferior */
    right: 20px; /* Ajusta la distancia desde el borde derecho */
    font-size: 40px;
    width: 500px;
  }

  #cerrar:hover {
    border: 3px solid #ff1e1e;
    background-color: rgb(255, 52, 52);
    color:white;
  }





























.tabla_contenido{
    width: 98%; /* Expande el contenedor de la tabla por toda la página */
    overflow-x: auto; /* Añade una barra de desplazamiento horizontal si la tabla es más ancha que la pantalla */
    text-align: center;
    margin: 0 auto; /* Esto centra el contenedor */
}

table {
    width: 100%; /* Expande la tabla por toda la página */
    border-collapse: collapse; /* Fusiona los bordes de las celdas */
    
}

th, td {
    padding: 8px;
    text-align: center;
    border: 5px solid #000000;
    background-color: white;
  }
  
  th {
    background-color: #ffbb00;
  }



  /* Estilos para pantallas pequeñas (teléfonos) */
@media (max-width: 480px) {

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
        font-size: 10px;
    }

    .contenedor_botones input[type="submit"] {
        margin-bottom: 40px;
        display: block;
        font-size: 25px;
        border-radius: 100px;
        width: 400px;
        border: 3px solid #ffbb00;
        font-weight: bold;
        box-shadow: 0 6px 40px rgba(0, 0, 0, 0.1);
    }

    #cerrar {
        position: absolute;
        bottom: 1px; /* Ajusta la distancia desde el borde inferior */
        right: 20px; /* Ajusta la distancia desde el borde derecho */
        font-size: 20px;
        width: 400px;
      }
    
      #cerrar:hover {
        border: 3px solid #ff1e1e;
        background-color: rgb(255, 52, 52);
        color:white;
      }
}