body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.8), rgb(222, 222, 222)),
    url('../../imagenes/fondo_g.png');
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0; /* Elimina el margen del body para que la imagen cubra toda la ventana */
    height: 100vh;
}

.tabla-calificaciones {
    width: 100%;
    border-collapse: collapse;
}

.encabezado {
    background-color: #333;
    color: orange;
    text-align: center;
    padding: 20px;
}

.titulo {
    background-color: #f2f2f2;
    text-align: center;
    padding: 8px;
}

td {
    text-align: center;
    padding: 8px;
    border: 1px solid #333;
    background-color: #f2f2f2;
}


.table {
    margin-top: 250px;
}

#volver{
    width: 100%;
    text-align: center;
    color: #f2f2f2;
    background-color: #888787;
    border: 5px solid #ccc;
    border-radius: 8px; 
    font-size: 40px;
}

#volver:hover{
    border:5px solid red;
    background-color: rgb(255, 32, 32);
    color:white;
}