body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-size: 30px;
    font-weight: bold;
}


label{
    border: 3px solid rgb(128, 128, 128); /* Estilo del borde (ancho, tipo y color) */
    border-radius: 7px;
    display: inline-block; /* Para que el ancho del borde se ajuste al contenido */
    margin-top: 30px;
    width: 100%;
}
    
span{
    color:rgb(255, 255, 255);
    background-color: rgb(128, 128, 128);
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para ocupar toda la altura de la ventana */

}

.botones{
    margin-top: 40px;
    margin-left: 240px;
    
}

.botones input:hover{
    background-color: rgb(164, 164, 164);
    color:rgb(255, 255, 255);
}

.botones input {
    padding: 15px 20px; /* Ajusta el relleno para hacer los botones más grandes */
    background-color: orange;
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    border-radius: 10px; /* Borde redondeado */
    font-size: 30px; /* Tamaño del texto */
}

.botones #volver{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    z-index: 999; /* Asegura que el botón esté por encima de otros elementos */
    width: 150px;
}

.botones #volver:hover{
    background-color: rgb(255, 5, 5);
}