body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-size: 30px;
}

h1{
    text-align: center;
    color: orange;
    background-color: rgb(81, 81, 81);
}

h3{
    text-align: center;
    background-color: red;
    color:white;

}

input,select{
    background-color: rgba(2, 2, 2, 0.173);
    border: 5px solid #ccc;
    border-radius: 8px; 
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#inscribirse, #volver{
    width: 100%;
}

#volver:hover{
    border:5px solid red;
    background-color: rgb(255, 32, 32);
    color:white;
}

#inscribirse:hover{
    border:5px solid orange;
    background-color: orange;
    color:white;
}

form {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form_datos{
    display:grid;
    font-weight: bold;
}

.form_documentos{
    display:grid;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.form_documentos input{
    visibility: hidden;
}

.file-label{
    align-items: center;
    font-size: 50px;
    background-color: orange;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    color:white;
}

.file-selected {
    background-color: rgb(0, 255, 0); /* Cambia el color cuando se selecciona un archivo */
}


@media (max-width: 480px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
        font-size: 16px;
    }
    
    .file-label{
        align-items: center;
        font-size: 20px;
        background-color: orange;
        border-radius: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
        color:white;
    }

    form {
        width: 90%;
        margin: 2px auto;
        padding: 2px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    input,select{
        background-color: rgba(2, 2, 2, 0.173);
        border: 5px solid #ccc;
        border-radius: 8px; 
        font-size: 16px;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

    
.file-selected {
    background-color: rgb(0, 255, 0); /* Cambia el color cuando se selecciona un archivo */
}

}